<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletContextApp</display-name>
  <context-param>
    <param-name>jdbcUrl</param-name>
    <param-value>jdbc:mysql:///telusko</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.in.ineuron.TestServlet</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispServelet</display-name>
    <servlet-name>DispServelet</servlet-name>
    <servlet-class>com.in.ineuron.DispServelet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispServelet</servlet-name>
    <url-pattern>/Disp</url-pattern>
  </servlet-mapping>
</web-app>